@import "partials/normalize";
@import "partials/colors";
@import "partials/skeleton";
@import "partials/mixins";
@import "partials/animations";
@import "partials/common";

.overlay {
  position: fixed;
  top:0;
  width: 100%;
  text-align: center;
  font-family: 'Capitolina', sans-serif;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1000;
  &.success {
    background: #80e18e;
    color: #356139;
  }
  &.error {
    background: #FFFF66;
    color: $primary_red;
  }
  p {
    margin: 0;
    padding: 0;
  }
}

.page-section {
  min-height:100vh;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
}

//INTRO
#intro {
  background: $primary_red;
  @include flexbox();
  @include centerCenterFlexbox();
  text-align: center;
  p {
    font-family: 'Capitolina', sans-serif;
    font-size: 20px;
    max-width:610px;
    margin: 0 auto;
    display: block;
    padding-top:20px;
    color: #fff;
  }
  * {
    @include animate();
  }
  nav {
    margin-top:20px;
    li {
      display: inline-block;
      width:185px;
    }
    a {
      width:100%;
      padding: 10px;
      display: block;
      background:#f47b55;
      color: #fff;
      text-decoration: none;
      font-family: 'mr-eaves-xl-sans', sans-serif;
      font-weight: bold;
      font-size: 23px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      &:hover {
        background: lighten(#f47b55, 10%);
      }
    }
  }
}

//EXPERIENCE
#experience {
  background:#f2f2f2;
  @include flexbox();
  @include centerCenterFlexbox();
  h1 {
    width: 100%;
    text-align: center;
    color: $primary_red;
    font-family: 'Capitolina', sans-serif;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 33%;
    font-family: 'Capitolina', sans-serif;
    text-align: center;
    color: $primary_red;
    img {
      width:100%;
      max-width:212px;
      display:block;
      margin:0 auto;
    }
  }
}

@media screen and (max-width:1075px) {
  #experience {
    li {
      width: 49%;
    }
  }
}

@media screen and (max-width:640px) {
  #experience {
    li {
      width: 100%;
    }
  }
}

//PROJECTS
#projects {
  .project {
    overflow: hidden;
    padding: 20px;
  }
  .project-image {
    width: 50%;
    margin-top:50px;
    @include slowAnimate();
    img {
      width:100%;
      max-width:325px;
      margin:0 auto;
      display:block;
    }
    a.external-link {
      text-align: center;
      width: 100px;
      display: block;
      background:rgba(0, 0, 0, 0);
      margin:0 auto;
      display: block;
      padding: 5px 10px 8px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      @include animate();
      color: #fff;
      font-family: 'mr-eaves-xl-sans', sans-serif;
      text-decoration: none;
      &.in-dev {
        width: 200px;
        background: rgba(153, 115, 97, .3);
        &:hover {
          background: rgba(153, 115, 97, .3);
        }
        span {
          opacity: 1;
          margin-top:0;
        }
      }
      span {
        opacity: 0;
        margin-top:-20px;
        display: block;
        @include animate();
        width: 100%;
        text-align: center;
      }
      &:hover {
        background:rgba(0, 0, 0, .3);
        span {
          opacity: 1;
          margin-top:0;
        }
      }
      img {
        width:30px;
      }
    }
  }
  .project-description {
    width: 50%;
    margin-top:50px;
    @include animate();
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 20px;
    > p {
      font-family: 'Capitolina', sans-serif;
      font-size: 16px;
      width: 100%;
    }
    li {
      list-style-type: none;
      font-family: 'Capitolina', sans-serif;
      margin:0 0 10px 0;
      padding: 0;
      p {
        margin: 0;
        padding: 0;
        background: rgba(255, 255, 255, .2);
        display: inline-block;
        padding: 5px 10px;
      }
    }
  }
  h1 {
    color: #fff;
    font-family: 'Capitolina', sans-serif;
  }
  .project:nth-child(odd) {
    background: $primary_red;
  }
  .project:nth-child(even) {
    background: #d73931;
  }
}

@media screen and (max-width:1024px) {
  #projects {
    .project-image {
      width: 100%;
    }
    .project-description {
      width:100%;
    }
  }
}

//CONTACT
#contact {
  @include flexbox();
  @include centerCenterFlexbox();
  background:#f2f2f2;
  h1 {
    font-family: 'Capitolina', sans-serif;
  }
  p.status {
    font-family: 'mr-eaves-xl-sans', sans-serif;
    padding: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    &.ready {
      background: #80e18e;
      color: #356139;
    }
  }
}

footer {
  background: $primary_red;
  padding: 20px;
  color: #fff;
  font-family: 'Capitolina', sans-serif;
  text-align: center;
  p {
    margin: 0;
    padding: 0;
  }
}